<button mat-raised-button (click)="onClick()">test</button>
<form >
  <input type="text"
         placeholder="Search for a street"
         [formControl]="msoaControl"
         [matAutocomplete]="auto"
        >
         
  <mat-autocomplete #auto="matAutocomplete"
   (optionSelected) = "msoaEntered($event.option.value)">
    <mat-option *ngFor="let street of filteredStreets | async" [value]="street"
    >
      {{street}}
    </mat-option>
  </mat-autocomplete>
</form>

<div *ngIf="data">
  <!-- {{data | json }} -->

  <ngx-charts-bar-vertical *ngIf="results[0].series" [view]="view" [results]="results[0].series" [legend]="true"
    [xAxis]="true" [showXAxisLabel]="true">
  </ngx-charts-bar-vertical>

  <ngx-charts-line-chart *ngIf="multi" [view]="view" [results]="multi" [legend]="true"
    [xAxis]="true" [showXAxisLabel]="true" [showXAxisLabel]="true" [timeline]=true>
  </ngx-charts-line-chart>

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
