<div>
  
  
  <p>
    {{areaName}}
  </p>
  <p>
    {{filter}}
  </p>

</div>
<div class="listItem">
  <mat-selection-list #list name="list" class="fieldSelect" [(ngModel)]="selectedOptions" (selectionChange)="onUpdate()">
    <mat-list-option *ngFor="let field of fields" [value]="field">
      {{fieldDescription[field]}}
    </mat-list-option>
  </mat-selection-list>
</div>

<!-- <button mat-raised-button (click)="onUpdate()">Update</button> -->
{{selectedOptions}}
{{graphData | json}}
<div *ngIf="data" class="graphContainer">
  <!-- {{data | json }} -->


  <!-- <ngx-charts-bar-vertical *ngIf="results[0].series" [view]="view" [results]="results[0].series" [legend]="true"
    [xAxis]="true" [showXAxisLabel]="true">
  </ngx-charts-bar-vertical> -->

  <ngx-charts-line-chart *ngIf="multi"  [results]="multi" [legend]="true" [xAxis]="true"
    [showXAxisLabel]="true"  [xAxisLabel]="'Date'"  [yAxis]="true"
    [showYAxisLabel]="true"  [yAxisLabel]="'Number'" [timeline]=true [yScaleMax]="yScaleMax">
  </ngx-charts-line-chart>
{{yScaleMax}}
</div>