<div class="areaHeader">



  {{areaName}}



</div>
<div class="listItem">
  <mat-selection-list [multiple]="false" #list name="list" class="fieldSelect" [(ngModel)]="selectedOption"
    (selectionChange)="onUpdate()">
    <mat-list-option *ngFor="let field of fields" [value]="field">
      {{fieldDescription[field]}}
    </mat-list-option>
   
   
  </mat-selection-list>
</div>



<!-- {{graphData | json}} -->
<div *ngIf="databaseQueried && maxY > 0" class="graphContainer">
  <!-- {{data | json }} -->


  <!-- <ngx-charts-bar-vertical *ngIf="results[0].series" [view]="view" [results]="results[0].series" [legend]="true"
    [xAxis]="true" [showXAxisLabel]="true">
  </ngx-charts-bar-vertical> -->

  <ngx-charts-line-chart #chart *ngIf="multi" [results]="multi" [legend]="true" [xAxis]="true" [showXAxisLabel]="true"
    [xAxisLabel]="'Date'" [yAxis]="true" [showYAxisLabel]="true" [yAxisLabel]="'Number'" [timeline]=true
    [yScaleMax]="yScaleMax" [animations]="true" (select)="select($event)">

    <ng-template #seriesTooltipTemplate let-model="model">

    </ng-template>
  </ngx-charts-line-chart>
  
  <div *ngIf="multi">
    <h2>Y Maximum</h2>
    <br>
    <br>

    <div class="example-label-container" [class]="example-label-vertical">

      <label class="example-value-label">{{maxY}}</label>
    </div>
    <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="maxY" [min]="min" [step]="auto"
      [thumbLabel]="true" [value]="sliderValue" [vertical]=true aria-labelledby="example-name-label"
      (change)="onValueChange($event)">

    </mat-slider>

  </div>

</div>
<div *ngIf = "!databaseQueried">Select a parameter....</div>
<div *ngIf = "databaseQueried && maxY === 0">No data for this parameter!</div>
{{databaseQueried}}{{maxY}}
