.fieldSelect {
    width: 700px;
    height: 100px;
    /* overflow: auto; */
    border-style: solid;
    border-width: thin;
    overflow-y: scroll;
}
.listItem {
    /* height: 20px !important; */
}

.graphContainer {
    height: 500px;
    width: 700px;
}
.areaHeader{
    font-size: large;
    font-weight: bold;
}
